.avatar {
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.tableItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: #1DB954;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 0.5rem;
    background-color:#3f3636;
    align-items: center;
    animation: slide-in 1s ease;

  }
.tableParent{
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px);
 border-radius: 1.1rem;


}
.tableParent ul{
    cursor:pointer
}

.tableChild {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 0.5rem 0;
    border-radius: 1.5rem;
    align-items: flex-start;
    position: relative;
   
}
.surveyContainerSurveyListAnimate {
  animation: slide-in 0.4s ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: tranisition(200px);
  }
  100% {
    opacity: 1;
    transform: tranisition(0);
  }

}
.tableChild img{
  vertical-align: middle;
  width: 90px;
  height: 90px;

}
.tableChildRow{
  margin:0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  width: 100%;
  justify-content:space-between;
  padding:0 2rem;
  border-radius: 0.5rem;
}
.artistName {
  font-weight: bold;
  justify-self: center;
  color:#fafafa;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.albumName{
  font-weight: bold;
  justify-self: center;
  color:#fafafac2;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.albumName label:hover{

  color:#fafafa;

}


